<!DOCTYPE html>
<html ng-app="todoapp">
<head>
	<title>
		New Angular App
	</title>
	<link rel="stylesheet" href="bower_components/font-awesome/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="main.css">
</head>
<body>
<div ng-controller="mainCtrl">
	<header>
		<h1>Simple To Do App</h1>
	</header>
	<div class="list_container" >
		<ul class="main_list">
			<my-listitem ng-repeat="item in list track by $index" ></my-listitem>
		</ul>
		<div class="new_item" title="Add new item" >
			<form ng-submit="addItem()"><input type="text" ng-model="new_item" ></form>
			<button ng-click="addItem()" title="Add to list" ><i class="fa fa-check" ></i></button>
		</div>
	</div>
</div>
<script type="text/javascript" src="bower_components/jquery/dist/jquery.min.js"></script>
<script type="text/javascript" src="bower_components/angular/angular.js"></script>
<script type="text/javascript" src="angular-local-storage.min.js"></script>
<script type="text/javascript">
	var todoapp = angular.module('todoapp', ['LocalStorageModule']).config(function (localStorageServiceProvider) {
		localStorageServiceProvider.setPrefix('todoapp');
	});
</script>
<script type="text/javascript" src="scripts/directives/listitem.js"></script>
<script type="text/javascript" src="scripts/controllers/listCtrl.js" ></script>
</body>
</html>